/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL SETTINGS */

html {
    font-family: 'Open Sans', sans-serif;
    --bkg-nav: rgb(0 132 253);
    --bkg-purple: rgb(151,146,228);
    margin-top: 7.5rem;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.big-container {
    max-width: 1200px;
    margin: auto;
    padding-inline: 1.5rem;
    overflow: hidden;
}

.small-container {
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.grid {
	--gapx: 1.5rem;
	--gapy: 1.5rem;
    margin-bottom: 5rem;
}

/* START HEADER */

header {
    background-color: var(--bkg-nav);
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 99;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    white-space: nowrap;
}

nav ul {
    display: flex;
    gap: 2rem;
}

nav li a {
    color: rgb(255, 255, 255);
}

.btn-get {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 1.5rem;
    padding: .5rem .8rem;
}

.menu-none {
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    display: none;
}

/* START MAIN */


/* SECTION CARDS */

.cells {
    margin: 0 calc(-1 * var(--gapx) / 2) calc(-1 * var(--gapy));
	display: flex;
	flex-wrap: wrap;
}

.cell {
	flex-basis: 33.3333%;
	padding: 0 calc(var(--gapx) / 2) var(--gapy);
}

.big-cell {
    width: 66.6666%;
	flex-basis: auto;
}

.card {
    background-color: rgb(181,221,255);
    border-radius: 20px;
    height: 100%;
    padding-top: 2rem;
    text-align: center;
}

.big-card {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: baseline;
    padding-left: 1.5rem;
}

.demo-txt {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    flex: 0 0 50%;
}

.card img {
    align-self: flex-end;
    min-width: 0;
    flex: 0 0 35%;
    display: block;
}

.card > i {
    margin-bottom: 2rem;
    font-size: 5rem;
    color: var(--bkg-nav);
}

.card h3 {
    margin-bottom: 2rem;
    color: var(--bkg-nav);
}

.card p {
    line-height: 2;
    font-weight: 600;
    color: rgb(90,110,127);
    margin-bottom: 2rem;
}

.btn-apple {
    background-color: var(--bkg-nav);
    color: rgb(255, 255, 255);
    border-radius: 1.5rem;
    padding: .5rem .8rem;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
}

/* SECTION STRATEGIC PLANNING */

.bkg-purple {
    width: 100%;
    background-color: var(--bkg-purple);
}

.plan-content {
    display: flex;
    gap: 5rem;
    padding-inline: 13rem;
    padding-top: 10rem;
    padding-bottom: 3rem;
    margin-bottom: 4rem;
    overflow: hidden;
}

.dev-left {
    display: flex;
    flex-direction: column;
    flex: 0 0 50%;
    line-height: 2;
}

.dev-left img {
    min-width: 200px;
    width: 100%;
    margin-bottom: 10rem;
}

.dev-left h2 {
    font-size: 2rem;
    color: rgb(255, 255, 255);
    margin-bottom: 2rem;
}

.dev-left p {
    color: rgb(255, 255, 255);
    font-size: 14px;
    margin-bottom: 2rem;
}

.dev-right {
    align-self: flex-end;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    padding: 2rem;
}

.dev-right h3 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.dev-right p {
    font-style: italic;
    margin-bottom: 2rem;
}

.dev-right img {
    min-width: 200px;
    width: 85%;
}

.arw-dwn {
    padding: 20px;
    background-color: var(--bkg-purple);
    border-radius: 50%;
    display: inline-block;
}

/* SECTION TESTIMONIALS */

.testimonial-title {
    text-align: center;
}

.testimonial-title p {
    margin-bottom: 2rem;
}

.testimonial-title > h2 {
    padding-bottom: 2rem;
    font-size: 2.5rem;
    color: var(--bkg-purple);
}

.all-user {
    padding-bottom: 2rem;
}

.user {
    background-color: var(--bkg-purple);
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 1rem 0;
    padding: 2rem;
    border-radius: 50px;
}

.user * p {
    color: rgb(255, 255, 255);
    margin: 2rem;
    margin-bottom: 1.5rem;
    line-height: 2;
}

.nat > p {
    font-weight: 700;
}

.user img {
    height: 10rem;
    width: 10rem;
    border-radius: 100px;
    object-fit: cover;
}

/* SECTION BENEFITS */

.benefit-content > h2 {
    font-size: 3rem;
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
}

.benefit-box {
    display: flex;
	flex-wrap: wrap;
    gap: 2rem;
    padding-bottom: 4rem;
}

.ben-box {
	flex: calc(100% / 3 - 2rem);
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    height: 100%;
}

.ben-card {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin: 2rem;
}

.ben-card h2 {
    font-size: 5rem;
    color: var(--bkg-purple);
}

.ben-card h3 {
    font-size: 2rem;
    color: var(--bkg-purple);
}

.ben-card p {
    line-height: 2;
    color: rgb(163,163,163);
}

.btn-more {
    background-color: var(--bkg-purple);
    color: rgb(255, 255, 255);
    border-radius: 1.5rem;
    padding: .5rem .8rem;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    width: 50%;
}

/* SECTION ABOUT US */


.abt-us {
    display: flex;
    gap: 5rem;
    padding-inline: 10rem;
    padding-bottom: 5rem;

}

.text-left {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    flex: 0 0 75%;
}

.text-left h2 {
    font-size: 4rem;
    color: var(--bkg-purple);
}

.text-left p {
    line-height: 2.5;
}

.text-right {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 1.5rem;
    flex: 0 0 25%;
}

.text-right p {
    color: var(--bkg-purple);
    font-weight: 700;
    font-size: 1.5rem;
}

.btn-linkedin {
    background-color: var(--bkg-purple);
    color: rgb(255, 255, 255);
    border-radius: 1.5rem;
    padding: .5rem .8rem;
    text-align: center;
    white-space: nowrap;
    width: 85%;
}

.text-right img {
    height: 15rem;
    width: 15rem;
    border-radius: 200px;
    object-fit: cover;
}

.marks {
    position: absolute;
    color: var(--bkg-purple);
    right: -15px;
    top: -10px;
    z-index: 1;
    font-size: 6rem;
}

/* SECTION STARTED */

.started-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    text-align: center;
    padding-bottom: 5rem;
    padding-top: 5rem;
}

.started-content > span {
    font-size: 1.2rem;
    color: rgb(207,206,242);
}

.started-content h3 {
    color: rgb(255, 255, 255);
    font-size: 3rem;
}

.started-content h2 {
    color: rgb(253,193,95);
    font-size: 5rem;
}

.started-content p {
    color: rgb(255, 255, 255);
}


.started-content > a {
    background-color: rgb(255, 255, 255);
    border-radius: 5.5rem;
    padding: 1.5rem 1rem;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    width: 30%;
    color: var(--bkg-purple);
}

.started-end span {
    color: rgb(255, 255, 255)
}

.small-circle {
    vertical-align: middle;
    font-size: .5rem;
}

.started-end a {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}


/* FOOTER */

footer {
    text-align: center;
    height: 15rem;
    background-color: rgb(51,51,51);
    color: rgb(255, 255, 255);
}


.footer-content {
    padding-top: 2.5rem;
}

.foot-up {
    padding-bottom: 3rem;
}

.foot-down a {
    color: var(--bkg-purple);
    text-decoration: underline;
}


/* MEDIA QUERY */


/* MEDIA TABLET */

@media screen and (max-width: 850px) {

    /* CONTAINER */
    
    .big-container {
        width: 100%;
    }

    .small-container {
        width: 100%;
    }

    /* HEADER */

    .menu {
        display: none;
    }

    .menu-none {
        display: block;
    }

    /* SECTION CARDS */

    .demo-txt {
        flex: 0 0 100%;
    }

    .card img {
        padding-top: 2rem;
    }

    /* SECTION PLANNING */

    .plan-content {
        padding-inline: 1.5rem;
        display: block;
    }

    .dev-left img {
        margin-bottom: 0rem;
    }

    /* SECTION BENEFITS */

    .ben-box {
        flex: calc(100% / 2 - 2rem);
    }

    /* SECTION ABOUT US */

    .abt-us {
        justify-content: center;
    }

    .text-left {
        flex: 0 0 70%;
    }

    .text-right {
        flex: 0 0 25%;
    }

    .marks {
        font-size: 5rem;
    }

}

/* MEDIA MOBILE */

@media (max-width: 375px) {

        /* CONTAINER */
    
        .big-container {
            width: 100%;
            padding-inline: 1.5rem;
        }
    
        .small-container {
            padding-inline: 1.5rem;
            width: 100%;
        }
    
        /* HEADER */
    
        .menu {
            display: none;
        }
    
        .menu-none {
            display: block;
        }
    
        /* SECTION CARDS */
    
        .cells {
            flex-direction: column;
        }

        .big-cell {
            width: 100%;
        }

        .card p {
            margin-bottom: 0rem;
            padding-bottom: 1rem;
            padding-inline: .5rem;
        }

        .card img {
            flex: 0 0 95%;
        }
    
        /* SECTION PLANNING */
    
        .plan-content {
            padding-top: 2rem;
            padding-inline: 1.5rem;
            display: block;
        }

        .dev-left {
            gap: 1.5rem;
        }
    
        .dev-left img {
            margin-bottom: 0rem;
        }


        /* SECTION TESTIMONIALS */

        .all-user {
            display: flex;
            flex-direction: column;
        }

        .user {
            display: block;
            text-align: center;
        }

        .user img {
            height: 15rem;
            width: 15rem;
            border-radius: 150px;
        }

    
        /* SECTION BENEFITS */
    
        .abt-us {
            flex-direction: column;
        }

        .ben-box {
            flex: 0 0 100%;
        }

        .text-right img {
            align-self: left;
        }
    
        /* SECTION ABOUT US */
    
        .abt-us {
            padding-inline: 1.5rem;
            justify-content: center;
        }
    
        .text-left {
            flex: 0 0 50%;
        }

        .text-left h2 {
            font-size: 2.5rem;
        }
    
        .text-right {
            flex: 0 0 25%;
        }

        .marks {
            left: 0;
        }

        /* SECTION STARTED */

        .started-content > a {
            width: 35%;
        }
    
}